body {
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  font-family: 'Libre Franklin', sans-serif;
font-family: 'Rubik', sans-serif;
overflow-x: hidden;

}
@media screen and (max-width:500px) {
  .hide {
    display: none;
  }
}
@media screen and (min-width: 500px) {
  .nav .plate{
    display: none;
  }
  .mobile {
    display: none;
  }
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}
body::-webkit-scrollbar-thumb {
 background-color: rgb(3, 3, 3);
}
/* #invertedcursor {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  top: var(--y, 0);
  left: var(--x, 0);
  transform: translate(-50%, -50%);
  z-index: 2;
  mix-blend-mode: difference;
  transition: transform .2s;
} */
.background {
  width: 100vw;
  height: 100vh;
  background-image: url(assets/noise\ \(1\).gif);
  opacity: 0.07;
  position: fixed;
}

.header {
  display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
/* gap: 50vw; */

position: relative;
left: 0;
right: 0;
height: 86px;
left: 0px;
top: 0px;
margin:0 auto;
padding: 2% 2%;
}
.header div:hover {
  cursor: pointer;
}
.nav {
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 15px

}.name {
  transition: 0.1s ease;
}
.name:hover {
scale: 1.02;
}
.nav-list {
  border: solid 1px;
  padding: 10px;
  border-style: dotted;
  border-width: 3px;
  border-radius: 10px;
  transition: 0.1s ease;
}
.nav-list:hover {
  /* background-color: white;
  color: black;
  border-color: black; */
  scale: 1.03;
  box-shadow: 2px 2px 0px rgb(255, 255, 255);
}
.header div {
  font-size: 1.5rem;
}
.nav i {
  scale: 1.5;
}


.title {
  overflow: hidden;
  margin-bottom: 100px;
  cursor:default;
  padding: 0 20px;
}
.designer,
.visual {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;

  /* position: absolute;
  width: 100vw;
  height: 368px;
  left: 0px; */
  /* top: 144px; */

  font-family: 'Franklin Gothic Heavy', arial;
  font-weight: 600;
  font-size: 25vw;
  padding: 0;
  margin: 0;
  height: 100%;
}


.skills {
  display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 14px;
white-space: nowrap;


width: fit-content;
overflow: hidden;
left: 15px;
left: -1360px;
animation: move 6s linear;
animation-iteration-count: infinite;
flex-basis: 100%;
/* position: relative; */ /* height: 69px; */


}


@keyframes move {
  from {transform: translateX(15px)}
  to {transform: translateX(-1360px)}

}

.skills img { 
width: 5vw;
}
.skills div{
font-family: "Abril Fatface";  
font-size: 4vw;

}  

.designer {
/* top:700px;
  top: 60vh; */
  font-size: 20vw;
  position: relative;
}
.visual img{
  position: absolute;
width: 13vw;
top: 36%;
right: 0

}
.sun {
  position: absolute;
width: 10vw;
left: 5%;
top: 100%;

}
.circle {
  position: absolute;
  width: 12vw;
  top: 106%
}
@media screen and (max-width: 834px) {
  .sun {
  top: 47%;
  }
  .circle {
    top: 50%;
}
}
.circle,.sun,.sparkle{
  transition: 0.1s ease;
}
.sun:hover {
  scale: 1.1;
  rotate: -3deg;
}
.circle:hover{
  scale: 1.1;
  rotate: 10deg;
}
.sparkle {
  position: absolute;
  top: 300px
}
.sparkle:hover {
  scale: 1.1;
  rotate: 3deg
}
.designer,.visual div{
  transition: 0.3s ease;
}
.visual div:hover{
  letter-spacing: 40px;
}
.designer:hover {
  transform: skewX(-10deg);
}
/* @media screen and (max-width: 1000px){
  .skills {
    top:17.5vh
  }

.skills div {
  font-size: 30px;
}
.designer {
  top:0px;
}
.sun, .circle {
  top: 26vh;
  left: 25px
}
.sun {
  left: 50px;
  top: 295px
}
.sparkle {
  
  top: 0;
  left: 0;
}


} */
.visual {
  
}
/* ---------- work --------- */
.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  position: relative;
  cursor: default;
  margin: 0 auto;
  
}
.featured-work{
  font-family: 'Franklin Gothic Heavy', arial;
  font-weight: 600;
  font-size: 13vw;
  margin-bottom: 100px;

  
}
.allprojects {
  width: 20%;
  position: absolute;
  right: 2vw;
  top: 12vh;
  rotate: 5deg;
  transition: 0.2s ease;
  cursor: pointer;
}
.allprojects:hover {
  transform: scale(1.03) rotate(2deg);
}
.work-display {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: 33%;
  column-gap: 2vw;
  row-gap: 40rem;
  height: fit-content;
  

}
.photoframe {
  position: relative;
  transition: 0.3s ease;
  
}

.mac {
  display: flex;
  position: relative;
  align-items: center;
  width: 360px;
  height: 20px;
  background-color: #e1e1e3;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 10px 20px;
  justify-content: space-between;
}
.mac-circle {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #00005f;
  border-radius: 15px;
  margin: 0;
  padding: 0;
}
.buttonss {
  display: flex;
  column-gap: 10px;
}
.mac-text {
  position: relative;
  color: rgb(87, 87, 87);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 15px;
}
.mac-texti {
  color:rgba(255, 255, 255, 0)
}

.wrapper {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper img, video {
  /* scale: 1.1; */
  width: 400px;
  object-fit: contain;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.overlay {
  position: absolute;
  z-index: 1;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: #000;
  opacity:0;
  transition: 0.3s ease;
}
.overlay:hover  {
  opacity: 0.6;
}
.photoframe:hover{
  transform: scale(0.99);
}

.popup-text {
  font-family: 'Franklin Gothic Heavy', arial;
  position: absolute;
  bottom:0;
  margin: 0 auto;
  font-size: 40PX;
  z-index: 2;
  opacity: 0;
  transition: 0.2s ease;
  pointer-events: none;
}
.wrapper:hover .popup-text{
  opacity: 1;
  bottom:50%;
  animation: textMove 0.8s
}
@keyframes textMove {
  from {
    bottom:0%;
  }
  to {
    bottom:50%;
  }
  from {
    opacity:0%;
  }
  to {
    opacity:100%;
  }
}

/* ------- IMAGES ----- */
.first {
  rotate: 4deg;
  top: 50px;
  left: 50px
}
.second {
  rotate: -2deg;
  left: -50px;
}
.second img{
  box-shadow: -15px 10px 15px rgba(0, 0, 0, 0.463);
}
.third {
  rotate: 1deg;
  right: 60px;
}
.fourth {
  rotate: -1deg
}
.sixth {
  top: -350px;
  rotate: -2deg
}
.fifth {
  top: -160px;
}
.seventh{
  top:-300px;
  left: 50px;
  rotate: 2deg;
  box-shadow: -15px -10px 15px rgba(0, 0, 0, 0.463);
}
.eight {
  top: -500px;
  rotate: -1deg;
}
.ninth {
  top: -300px;
  rotate:3deg;

}
.decor {
  width: 8vw;
  position: absolute;
  top: 20rem;
  right: 12%; 
  animation: decormove 6s linear;
  animation-iteration-count: infinite;
}
.decor2 {
  position: absolute;
  top:40%;
  left: 40%;
  width: 100px;
  animation: decormove2 3s linear;
  animation-iteration-count: infinite;
}
@keyframes decormove {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}
@keyframes decormove2 {
  0%    { rotate: -6deg; }
  50%   { rotate: -20deg; }
  100%  { rotate: -6deg; }
}
/* -------------- media ---------- */

@media screen and (max-width: 834px) {
  .allprojects {
    top: 6vh
  }
 .photoframe {
  top: 0;
  left: 0;

 }
 .work-display {
  row-gap: 33rem;
  column-gap: 10px;
 }
 .first {
  left:5%
 }
 .fifth {
  top:-15rem
 }
 .sixth {
  top:-8rem;
  left: -30px
 }
 .seventh {
  top: -8rem
 }
.eight {
  left:-20px
}
.decor {
  top:11rem
}
}
@media screen and (max-width:500px) {
  .header div {
    font-size: 15px;
  }
  .sun {
    top:33%;
    left: 10%
  }
  .circle {
    top:35%;
    left: 6%
  }
  .allprojects {
    top: 3vh
  }
  .first,.second,.third,.fourth,.fifth,.sixth,.seventh,.eight {
    top: 0;
  }
  .work-display {
    row-gap: 35rem;
   }
   .decor2 {
    top: 35%;
    left: 10%;
   }
   .decor {
    width: 70px;
    top:50.2%;
    right:20%;
   }
}
@media screen and (min-width: 1441px) {
  .mac {
    display: flex;
    position: relative;
    align-items: center;
    width: 560px;
    height: 20px;
    background-color: #e1e1e3;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 10px 20px;
    justify-content: space-between;
  }
  .wrapper img, video {
    /* scale: 1.1; */
    width: 600px;
    object-fit: contain;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .work-display {
    column-gap: 3vw;
    row-gap: 70vh
  }
  .sun, .circle {
    bottom: -60px

  }
}